build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
vcpkg_installed/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

# Gemini Agent System 
test_connection.test
CLAUDE.md
.claude
vcpkg
